page-profile {
    ion-avatar {
        display: flex;
        justify-content: center;
    }
    .circle {
        width: 40%;
        border-radius: 100%;
        margin: 25px auto 15px auto;
    }
}
