page-home {
    h3 {
        text-align: center;
        color: rgb(250, 64, 64);
        font-weight: 700px;
    }
    .content {
        background-color: rgb(65, 32, 2);
    }
    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
    
}